.QFrame {
        background-color: rgb(244, 244, 244);
}
QWidget#progress_area{
    background-color: rgb(195,195,195);
}
QWidget#size_area{
    background-color: rgb(195,195,195);
}

QPushButton{
   background: transparent;
   color:rgb(112,112,112);
}

QPushButton:hover{
   background: transparent;
   color:rgb(64,64,64);
}
