/*QProgressBar的宽度可以通过设置QProgressBar的setFixedHeight方法来控制*/
QProgressBar{
        border: none;
        color: white;
        text-align: center;
        background: rgb(255,255,255);
}

/*已经完成的进度*/
QProgressBar::chunk {
        border: none;
        background: rgb(62,148,221);
}
