/*缩放比例区域*/
QWidget#SizeScaleWidget{
    background-color: rgba(195,195,195,0.8);
}

QWidget#SizeScaleWidget:hover{
    background-color: rgba(195,195,195,1);
}

QWidget#SizeScaleWidget QPushButton{
   background: transparent;
   color:rgb(112,112,112);
}

QWidget#SizeScaleWidget QPushButton:hover{
   background: transparent;
   color:rgb(64,64,64);
}
